* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.main-header {
  display: flex;
  justify-content: center;
}

.main-nav {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-bottom: none;
}

.main-nav ul {
  padding: 0;
}

.main-nav ul a{
  padding: 0 10px;
}

.blog-wrapper {
  border: 2px solid black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "main main"
  "blog2 blog3"
  "blog4 blog5";
}

.blog-1 {
  grid-area: main;
}

.blog-2 {
  grid-area: blog2;
}

.blog-3 {
  grid-area: blog3;
}

.blog-4 {
  grid-area: blog4;
}

.blog-5 {
  grid-area: blog5;
}

.blog-2, 
.blog-3,
.blog-4,
.blog-5 {
  border-top: 2px solid black;
}

.blog-2,
.blog-4 {
  border-right: 2px solid black;
}

.blog-image {
  height: 500px;
  width: 500px;
}

.blog-post {
  display: grid;
  justify-items: center;
  padding: 10px;
}

.blog-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

/* Rainbow Animation */
@keyframes rainbow {
  100%,
  0% {
    color: rgb(33, 49, 78);
  }
  10% {
    color: rgb(89, 71, 114);
  }
  20% {
    color: rgb(159, 128, 151);
  }
  30% {
    color: rgb(196, 146, 153);
  }
  40% {
    color: rgb(196, 169, 169);
  }
  50% {
    color: rgb(196, 169, 169);
  }
  60% {
    color: rgb(196, 146, 153);
  }
  70% {
    color: rgb(159, 128, 151);
  }
  90% {
    color: rgb(89, 71, 114);
  }
  100% {
    color: rgb(33, 49, 78);
  }
}

.rainbow-boi {
  animation: rainbow 4s infinite linear;
}